CLIENT_ID=97912484591-lomcoto5mt7o3b6tivgfol3905kb8ank.apps.googleusercontent.com
CLIENT_SECRET=your_google_client_secret_here
REDIRECT_URI=http://localhost:3000/auth/callback
VIRUSTOTAL_API_KEY=your_virustotal_api_key_here
